<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
<nav class="breadcrumb is-right" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/results/top5">Top 5</a></li>
    <li><a href="/voters">Voters</a></li>
    <li><a href="/results/analyzed">Analisa Kecurangan</a></li>
  </ul>
</nav>
