<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ./partials/menu %>

    <table style="width:60%">
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Age</th>
        <th>Number Of Votes</th>
      </tr>
      <%dataAnalized.forEach(Analized=>{%>
        <tr>
          <td><%=Analized.first_name +' '+Analized.last_name%></td>
          <td><%=Analized.gender%></td>
          <td><%=Analized.age%></td>
          <td><%=Analized.voting%></td>
        </tr>
      <%})%>
    </table>
  </body>
</html>
