<!DOCTYPE html>
<html>
  <head>
    <style>
      li{float : left;
      display: inline;
    padding: 14px 16px}
    </style>
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>
      <ul>
        <li><h1><a href="/results/top5">top 5</a></h1></li>
        <li><h1><a href="/voters">voters</a></h1></li></li>
        <li> <h1><a href="/results/analyzed">analisa kecurangan</a></h1></li>
      </ul>
  </body>
</html>
