<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Halaman Home</title>

    <style type="text/css">

      div {
        background-color: rgba(100,70,200,0.4);
        border-radius: 10px;
      }

      body {
        background-color: aquamarine;
      }

      a {
        font-family : sans-serif;
        text-decoration: none;
        color: black;
        font-size : 15pt;
      }

      a:hover {
        color : brown;
      }

    </style>
  </head>
  <body>

    <div>
      <table border = "0" align = center>
        <tr>
          <td width = "100px"><a href = "/results/top5">TOP 5</a></td>
          <td width = "100px"><a href = "/voters">VOTERS</a></td>
          <td width = "240px"><a href = "/results/analyzed">ANALISA KECURANGAN</a></td>
        </tr>
    </div>
  </body>
</html>
