<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <style media="screen">
    a {
    font-family: 'arial';
    padding: 8px 30px;
    display: inline-block;
    margin: auto;
    }
    </style>
  </head>
  <body>
    <div class="links">
      <ul>
        <a href="/results/top5">TOP 5</a>
        <a href=" /voters">VOTERS</a>
        <a href="/results/analyzed">Analisa Kecurangan</a>
      </ul>
    </div>
  </body>
</html>
