<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Index</title>
</head>
<body>
	<a href="/results/top5">Top 5</a>
	<a href="/voters">Voters</a>
	<a href="/results/analyzed">Analisa Kecurangan</a>
</body>
</html>