  <% include ./partials/head %>
    <title>Home</title>
  </head>
  <body>
    <% include ./partials/menu %>
    <section class="hero is-dark is-medium">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Welcome
      </h1>
      <h2 class="subtitle">
        Report PEMILU jaman dulu
      </h2>
    </div>
  </div>
</section>
  </body>
</html>
