<!DOCTYPE html>
<html>
  <% include ./partial/head.ejs %>
  <body>
    <div class="container">
      <div class="row">
        <div class="two-third column" style="margin-top: 10%">
          <h3><%=title%> | Congress</h3>
          <a class="button button-primary" href="/result/top5">Top 5</a>
          <a class="button button-primary" href="/voters">Voters</a>
          <a class="button button-primary" href="/result/analyzed">Analisa Kecurangan</a>
        </div>
      </div>
    </div>
  </body>
</html>
