<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
	<nav>
  		<a href="/results/top5">Top 5</a>
  		<a href="/voters">Voters</a>
  		<a href="/results/analyzed">Analisa Kecurangan</a>
	</nav> 
</body>
</html>