<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Polling Congres</title>
  </head>
  <body>
    <table>
      <thead>
        <tr>
          <th><a href="/results/top5">TOP 5</a></th>
          <th><a href="/voters">Voters</a></th>
          <th><a href="/results/analyzed">Analisa Kecurangan</a></th>
        </tr>
      </thead>
    </table>
  </body>
</html>
