<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <a href="/results/top5">Top 5</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/voters">Voters</a>&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/results/analyzed">Analisa Kecurangan</a>
  </body>
</html>