<html>

<head>
    <title>
        Index
    </title>

</head>

<body>
    <header>
        <h3>Menu</h3>
    </header>

    <div class="menu">
        <a href="/results/top5">
                Top 5
            </a> 
        <a href="/voters"> Voters </a>
        <a href="/results/analyzed">
                Analisa Kecurangan
            </a>
    </div>
</body>

</html>