<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Index</title>
</head>
<body>
    <nav>
        <a href="/results/top5">Top 5</a> &nbsp; 
        <a href="/voters">Voters</a> &nbsp; 
        <a href="/results/analyzed">Analisa Kecurangan</a> 
  </nav> 
</body>
</html>