<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/results/top5">Top 5</a>
    <a href="/voters">Voters</a>
    <a href="/results/analyzed">Analisa Kecurangan</a>
  </body>
</html>
