<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
  </head>
  <body>
      <div>
        <a href="/results/top5">Top 5</a>
        <a href="/voters">Voters</a>
        <a href="/results/analyzed">Analisa Kecurangan</a>
      </div>
  </body>
</html>
