<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Index</title>
  </head>
  <body>
    <table>
      <th><a href="/results/top5">Top 5</a></th>
      <th></th>
      <th><a href="/voters">Voters</a></th>
      <th></th>
      <th><a href="/results/analyzed">Analisa Kecurangan</a></th>
    </table>
  </body>
</html>