<!DOCTYPE html>
<html>
  <head>
  <style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: aqua;
}

li {
  float: left;
}

li a {
  display: inline;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
    <meta charset="utf-8">
    <title>Polling Congress Analisa Kecurangan</title>
  </head>
  <body>
    <ul>
      <li><a href="/results/top5">TOP 5</a></li>
      <li><a href="/votes">Voters</a></li>
      <li><a href="">Analisa Kecurangan</a></li>
    </ul>
  </body>
</html>
