<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>result</title>
  </head>
  <body>
    <table border="5">
      <tr>
        <th>Total votes</th>
        <th>congress</th>
        <th>Voters</th>
      </tr>
      <% for(let i = 0; i < arr.length; i++) {%>
        <tr>
          <td><%= newArr[i] %></td>
          <td><%= arr[i] %></td>
          <td><% for(let j = 0; j < temp[i].length; j++){ %>
            <%= j+1 %>.
            <%= temp[i][j] %><br>
        <%  } %></td>
        </tr>
      <%}%>
    </table>
  </body>
</html>
