<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TOP5</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Votes Count</th>
        <th>Congressman/Congress Woman</th>
        <th>Voters</th>
      </tr>
      <%top5.forEach(dt=>{%>
        <tr>
          <td><%=dt.Total%></td>
          <td><%=dt.Name%></td>
        <td><ol>
            <% for(let i =0; i<dt.first_name.length;i++) { %>
            <li><%=dt.first_name[i]%></li>
            <%}%>
          </ol>
        </td>
        </tr>
      <%})%>

    </table>


  </body>
</html>
