  <% include ./partials/head %>
    <title>Top 5</title>
  </head>
  <body>
    <% include ./partials/menu %>
    <table class="table is-striped is-hoverable is-fullwidth">
      <thead>
      <tr>
        <th class="is-primary">Total Vote</th>
        <th class="is-primary">Politician</th>
        <th class="is-primary">Voters</th>
      </tr>
      <thead>
      <tbody>
      <%dataTop5.forEach(nameofTop=>{%>
        <tr>
          <td><%=nameofTop.totalvote%></td>
          <th><%=nameofTop.politician%></th>
          <td>
            <ol>
            <%nameofTop.nameVoters.forEach(nameVoter=>{%>
                <li><%=nameVoter%></li>
            <%})%>
            </ol>
          </td>
        </tr>
      <%})%>
      <tbody>
    </table>
  </body>
</html>
