<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Top 5</title>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/results/top5">Top 5</a>
		<a href="/voters">Voters</a>
		<a href="/results/analyzed">Analisa Kecurangan</a>
	</nav>
	<h2>TOP 5</h2>
	<%=  JSON.stringify(top5);  %>
</body>
</html>