<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% include ./partials/menu %>
    <script>
        function show(){
            let option = document.getElementById("cari").value;
            if(option == "select")
                  {
                    document.getElementById("tampilName").style.display="none";
                    document.getElementById("tampilGender").style.display="none";
                    document.getElementById("tampilAge").style.display="none";
                  }
            if(option == "name")
                  {
                    document.getElementById("tampilName").style.display="block";
                    document.getElementById("tampilGender").style.display="none";
                    document.getElementById("tampilAge").style.display="none";
                  }
            if(option == "gender")
                  {
                    document.getElementById("tampilName").style.display="none";
                    document.getElementById("tampilGender").style.display="block";
                    document.getElementById("tampilAge").style.display="none";
                  }
            if(option == "age")
                  {
                    document.getElementById("tampilName").style.display="none";
                    document.getElementById("tampilGender").style.display="none";
                    document.getElementById("tampilAge").style.display="block";
                  }
        }
    </script>
            <form action="#" method="post">
                <table>
                    <tr >
                        <td>
                            <select id="cari" onchange="show()">
                                <option value="select">----SELECT----</option>
                                <option value="name">Name</option>
                                <option value="gender">Gender</option>
                                <option value="age">Age</option>
                            </select>
                        </td>
                    </tr>
                    <tr style="display:none;" id="tampilName">
                        <td><input type="number" placeholder="searchName" id="tampilName" style="display:block;" size=20 maxlength=12 value=""></td>
                    </tr>
                    <tr style="display:none;" id="tampilGender">
                        <td>
                          <select id="tampilGender" name="jenis">
                                  <option value="select">----SELECT----</option>
                                  <option value="female">Female</option>
                                  <option value="male">Male</option>
                          </select>
                        </td>
                    </tr>
                    <tr style="display:none;" id="tampilAge">
                        <td><label>Age</label></td>
                        <td><input type="number" placeholder="Range Min Age" id="tampilAge" style="display:block;" size=20 maxlength=12 value=""></td>
                        <td><input type="number" placeholder="Range Max Age" id="tampilAge" style="display:block;" size=20 maxlength=12 value=""></td>
                    </tr>
                </table>
                <br/>
            <input type="submit" value="Search">
        </form>
  </body>
</html>
