<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <select>
  <option value="--SELECT--">--SELECT--</option>
  <option value="name">name</option>
  <option value="gender">gender</option>
  <option value="age">age</option>
</select>
  </body>
</html>
