<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/votes" method="POST">
    <select name="votes" required=true>
          <option value="">--select contact--</option>

              <option value="1">Name</option>
              <option value="2">Gender</option>
              <option value="3">Age</option>
        </select>
        <br><br>
        <button>SEARCH</button>
      </form>
  </body>
</html>
