<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>ID Voting</title>
</head>
<body>
    <ul>
        <li><a href="/top-5">Top 5</a></li>
        <li><a href="/voters">Voters</a></li>
        <li><a href="/kecurangan">Analisa Kecurangan</a></li>
    </ul>
</body>
</html>
