<div class="tabs is-toggle is-fullwidth">
  <ul>
    <li><a href="/"><span>Home</span></a></li>
    <li><a href="/top5"><span>Top 5</span></a></li>
    <li><a href="/voters"><span>Voters</span></a></li>
    <li><a href="/analityc"><span>Analisa Kecurangan</span></a></li>
  </ul>
</div>
